name: CI

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.2', '7.3', '7.4']
    name: PHP ${{ matrix.php }}
    steps:
    - uses: actions/checkout@v1

    - uses: actions/cache@v1
      name: Cache dependencies
      with:
        path: ~/.composer/cache/files
        key: composer-php-${{ matrix.php }}-${{ hashFiles('composer.json') }}

    - name: Install dependencies
      run: |
        composer install --no-interaction --prefer-source

    - name: Run tests
      run: |
        phpunit --coverage-text --coverage-clover=coverage.xml
      env:
        STRIPE_SECRET: ${{ secrets.STRIPE_SECRET }}
        # PADDLE_VENDOR_ID: ${{ secrets.PADDLE_VENDOR_ID }}
        # PADDLE_VENDOR_AUTH_CODE: ${{ secrets.PADDLE_VENDOR_AUTH_CODE }}
        # PADDLE_PUBLIC_KEY: ${{ secrets.PADDLE_PUBLIC_KEY }}
        # PADDLE_TEST_PLAN: ${{ secrets.PADDLE_TEST_PLAN }}

    - uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: false
        token: ${{ secrets.CODECOV_TOKEN }}
